extends layout

block content
  h1 Books
  div.top-nav
    table 
      tr 
        td 
          a.btn.btn-primary(href='/books/new') Create New Book
        td 
          form(method="GET" action="/books/search" class="search-form")
            table
              tr
                td
                  input.form-control.form-control-sm(type="text" name="search" id="search-input" placeholder="Search for...")
                td
                  button(type="submit" class="search-submit" id="search-submit").btn.btn-primary
                    i(class="fa fa-search")

  block primary

  