extends layout

block content
  h1 Books
  div.top-nav
    table 
      tr 
        td 
          a.button(href='/books/new') Create New Book
        td 
          form(method="GET" action="/search" class="search-form")
            input(type="text" name="search" id="search-input" class="search-input" placeholder="Search for...")
            button(type="submit" class="search-submit" id="search-submit")
              i(class="fa fa-search")

  block primary